@import '../style/css/variables.scss';

.main {
 // margin-bottom: $main-padding;
}

.content {
  display: flex;
  flex-direction: column;
  gap : $gap;
}

@media screen and (max-width: 768px) {
 }

@media print {
}