@import '../css/variables.scss';

.body {
  background-color: $background-color;
  font-size: 12px;
  color: $text-primary;
  display: flex;
  justify-content: center;
  
  a {
    color: inherit;
  }
  
  a:hover,
  a:focus,
  a:active,
  a.active {
    color: $text-secondary;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  }
  
  ul {
    list-style-type: disc;
    display: inline-block;
    zoom: 1;
    text-align: left;
    margin: 0;
    padding-left: 1.5em;

    li::marker {
      color: $highlight;
    }

    li {
      padding-bottom: 0.2em;
    }
  }
  
  p {
    line-height: 1.75;
  }
  
  p.large {
    font-size: 16px;
  }
  
  a,
  a:hover,
  a:focus,
  a:active,
  a.active {
    outline: 0;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color:$text-secondary;
    font-family: $font-text-bold, Arial, sans-serif;
    margin: 0;
    margin-bottom: 1em;
    
  }
  h1 { 
    font-size: 32px; 
    text-transform: uppercase;
  }
  h2 { 
    font-size: 14px; 
    text-transform: uppercase;
  }
  h3 {
    font-size:  13px;
  }
  h4,
  h5,
  h6 {
    font-size: 0.83em;
  }
  
  h3, h4, h5 {
    margin-top: $gap;
    margin-bottom: 0.2em;
  }
}

.sideBarStyles {
  background-color: $background-color-light;
  padding: $main-padding;
  margin-bottom: 1em;
}

.main {
  padding:  $main-padding calc(2* $main-padding);
  .shift {
    padding-left: 0.1in;
  }
}

.content {
  display: flex;
  flex-direction: row-reverse;
  gap: $main-padding;
}

.list {
  display: flex;
  flex-direction: column;
  gap: $gap;
}


@media screen and (max-width: 768px) {
  .body {
    
  display: block;
  }
  .content {
    flex-direction: column;
  }
}


@media (prefers-color-scheme: light) {

}

@page {
  size: A4;
}

@media print {  

}