@import '../css/variables.scss';

.experience {
  display: flex;
  flex-direction: row;

  background-color: $background-color-light;
  padding: $main-padding;
  margin-bottom: $main-padding;

  .shift {
    padding-left: $main-padding;
  }
  .subtile {
    display: flex;
    justify-content: space-between;
    font-size: 0.9em;
  }
  b {
    color: $legend;
    font-weight: 800;
  }

  &>div:last-child {
    gap: 0.5em;
    flex: 1;
  }
  
  .title {
    font-weight: 800;
  }
    
  .company {
    width: fit-content;
    color: $text-company;
    padding-top: 0;
    padding-bottom: 0;
    text-decoration: none;
    font-style: italic;
    
    .duration {
      color: $text-primary;
      font-weight: 100;
      text-decoration:  $text-primary;
      font-size: 0.8em;
    }
  }
}

@media screen and (max-width: 768px) {
  .date {
    flex: 0 0 0.6in;
    & span:first-child::before {
      right: 9pt;
    }
    
  }
  .experience {
    &>div:last-child {
      padding-left: 0.7em;
    }
  }
}

@media print {
  
}