@import '../css/variables.scss';

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $background-color-light;
  border-radius: 5px;
  padding: 2px;
  padding-top: 3px;

  .title {
    font-weight: 600;
  }
  .subtile {
    display: flex;
    justify-content: space-between;
    font-size: 11em;
  }
  
  .icon {
    &.legend {
      background-color: $highlight;
      padding: 5px;
      height: 30px;
      width: 30px;
    }
    &.white {
      height: 40px;
      width: 40px;
    }
  }
  .company {
    width: fit-content;
    color: $text-subtitle;
    padding-top: 0;
    padding-bottom: 0;
    font-weight: 600;
    text-decoration: none;
    &.silver {
      color: $text-primary;
      font-weight: 400;
    }
  }

  .details {
    width: calc(100% - 60px);
  }
}

@media screen and (max-width: 768px) {
  .date {
    flex: 0 0 0.6in;
    & span:first-child::before {
      right: 9pt;
    }
    
  }
  .experience {
    &>div:last-child {
      padding-left: 0.7em;
    }
  }
}

@media (prefers-color-scheme: light) {
}

@media print {
  
}