@import '../css/index.scss';

.clickable {
  text-decoration: none;
  color: white;
  &:hover {
    color: $yellow !important;
  }
}

.sidebar {
  background-color: #252e38;
  color: white;
  display: flex; 
  padding: $main-padding calc(2 *  $main-padding);
  align-items: center;
  //height: 150px;

  .imageContainer {
    display: flex;
    justify-content: center;
    
    img {
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
      width: 125px !important;
      height: 125px !important;
      
      &:hover {
        transform: scaleX(-1) scale(1.1);
        transition: 1s;
      }
    }
  }

  .right {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .clickable {
    text-decoration: none;
  }

  h1,h2,h3,h4,h5 {
    // Force les couleurs avec important (light), parceque le next build change l'ordre des css (modules)
    color: white !important;
  }
  
  h1 {
    font-size: 18px;
    margin-bottom: 0.3em;
  }
  h2 {
    font-size: 16px;
    margin-bottom: 1.5em;
    // Force les couleurs avec important (light), parceque le next build change l'ordre des css (modules)
    color: $yellow !important;
  }
  
  .pdf {
    display: none;
  }

  .list {
    padding: $main-padding;
    display: flex;
    flex-direction: row;
    gap: calc(3 * $main-padding);
    justify-content: center;
  }

  .pdf {
    border-radius: 15px;
    display: flex;
    justify-content: center;
    padding: 1em 0;
    
    > div {
      border: 1px solid $text-secondary;
      border-radius: 15px;
      display: flex;
      justify-content: center;
      padding: 1em;
      width: fit-content;
      
      &:hover {
        cursor: pointer;
        color: $text-secondary;
      }
    }
  }
  
}

.element {
  .title {
    font-size: 13px;
  }
  .content {
    font-size: 17px;
    font-weight: 600;
  }
}
@media screen and (max-width: 768px) {
  
  .sidebar {
    .list {
      display: flex;
      flex-direction: column;
      gap: 1em;
      justify-content: center;
      flex-wrap: wrap;
      align-items: center;
    }
  }
}

@media screen and (max-width: 500px) {

}

@media print {
}
