@import '../css/variables.scss';

.clickable {
  text-decoration: none;
  &:hover {
    color: $highlight !important;
  }
}

.sidebar {
  background-color:$background-color-header;
  color: $color-white;
  display: flex; 
  padding: $main-padding $double-padding;
  align-items: center;
  gap: $double-padding;

  .imageContainer {
    display: flex;
    flex: 2;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    img {
     // -webkit-transform: scaleX(-1);
     // transform: scaleX(-1);
      border-radius: 50%;
      $img-size : 100px !important;
      width: $img-size;
      height: $img-size;
      
      &:hover {
        transform: scaleX(-1) scale(1.1);
        transition: 1s;
      }
    }
  }

  .right {
    display: flex;
    flex-direction: column;
    flex: 4;
  }

  .clickable {
    text-decoration: none;
  }

  h1 {
    font-size: 26px;
    margin: 15px 0 0 0;
  }
  h1,h2,h3,h4,h5 {
    // Force les couleurs avec important (light), parceque le next build change l'ordre des css (modules)
    color: $color-white !important;
  }
  
  h2 {
    font-family: $font-title;
    font-weight: 400;
    font-size: 26px;
    color: $highlight !important;
    margin: 0;
  }
  
  .pdf {
    display: none;
  }

  .list {
    padding: 0 0 calc(2 * $main-padding) 0;
    display: flex;
    flex-direction: row;
    gap: calc(2 * $main-padding);
  }

  .pdf {
    border-radius: 15px;
    display: flex;
    justify-content: center;
    padding: 1em 0;
    
    > div {
      border: 1px solid $text-secondary;
      border-radius: 15px;
      display: flex;
      justify-content: center;
      padding: 1em;
      width: fit-content;
      
      &:hover {
        cursor: pointer;
        color: $text-secondary;
      }
    }
  }
  
}

.element {
  display: flex;
  align-items: center;
  .title {
    font-size: 16px;
    padding-right: 8px;
  }
  .content {
    font-size: 12px;
  }
}
@media screen and (max-width: 768px) {
  
  .sidebar {
    flex-direction: column;
    .list {
      display: flex;
      flex-direction: column;
      gap: $main-padding;
      justify-content: center;
      flex-wrap: wrap;
      align-items: center;
    }

  }
  
  .title {
    display: flex;
  }
}

@media screen and (max-width: 500px) {

}

@media print {
}
