@import '../css/variables.scss';

.main {
  display: flex;
  flex-direction: row;

  background-color: $background-color-light;
  padding: $main-padding;

  .title {
    font-weight: 600;
  }
  .subtile {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
  }
  
  .icon {
    margin-right: 10px;
    &.legend {
      background-color: $highlight;
      padding: 5px;
      height: 30px;
      width: 30px;
    }
    &.white {
      height: 40px;
      width: 40px;
    }
  }
  .company {
    width: fit-content;
    color: $text-primary;
    font-weight: 400;
    padding-top: 0;
    padding-bottom: 0;
    text-decoration: none;
  }

  .details {
    width: calc(100% - 60px);
  }
}

@media screen and (max-width: 768px) {
  .date {
    flex: 0 0 0.6in;
    & span:first-child::before {
      right: 9pt;
    }
    
  }
  .experience {
    &>div:last-child {
      padding-left: 0.7em;
    }
  }
}

@media (prefers-color-scheme: light) {
}


@media print {
  
}