@import '../css/index.scss';

.main {
  display: flex;
  flex-direction: row;
  background-color: $gray-light;
  margin-bottom: 1em;
  padding: 10px;

  .title {
    font-weight: 600;
  }
  .subtile {
    display: flex;
    justify-content: space-between;
    font-size: 0.9em;
  }
  
  .icon {
    margin-right: 5px;
    &.legend {
      background-color: #f96249;
      padding: 5px;
      height: 40px;
      width: 40px;
    }
    margin-right: 5px;
    &.white {
      background-color: #fff;
      padding: 5px;
      height: 40px;
      width: 40px;
    }
  }
  .company {
    width: fit-content;
    color: $text-subtitle;
    padding-top: 0;
    padding-bottom: 0;
    font-weight: 600;
    text-decoration: none;
    &.silver {
      color: #b6a28b;
    }
  }

  .details {
    width: calc(100% - 60px);
  }
}

@media screen and (max-width: 768px) {
  .date {
    flex: 0 0 0.6in;
    & span:first-child::before {
      right: 9pt;
    }
    
  }
  .experience {
    &>div:last-child {
      padding-left: 0.7em;
    }
  }
}

@media (prefers-color-scheme: light) {
}

@media print {
  
}