body {
    overflow-x: hidden;
    font-family: Roboto,Arial,sans-serif;
}

body {
    margin: 0;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
 
@media print {
    body {
        margin: 0;
        font-size: 14px;
    }
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

ul {
    list-style-type: circle;
    display: inline-block;
    zoom: 1;
    text-align: left;
    margin: 0;
    padding-left: 1.5em;
    li {
        padding-bottom: 0.2em;
    }
}

.text-muted {
    color: #777;
}

p {
    line-height: 1.75;
}

p.large {
    font-size: 16px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
}

a {
    color: #FF806F;
}

a:hover,
a:focus,
a:active,
a.active {
    color: #FF806F;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color:#146191;
    font-family: Roboto,Arial,sans-serif;
    font-weight: 700;
}
h1 { 
    font-size: 1.6em; 
}
h2 { 
    font-size: 1.4em; 
}
h3 {
    font-size:  1.17em;
}
h4,
h5,
h6 {
    font-size: 0.83em;
}

h3, h4, h5 {
    margin-top: 0.3em;
    margin-bottom: 0.2em;
}

/* force background colors in print */
* {
    -webkit-print-color-adjust: exact !important;   /* Chrome, Safari 6 – 15.3, Edge */
    print-color-adjust: exact !important;
}
.img-centered {
    margin: 0 auto;
}

.bg-light-gray {
    background-color: #f7f7f7;
}

.bg-darkest-gray {
    background-color: #222;
}

.btn-primary {
    border-color: #FF806F;
    text-transform: uppercase;
    font-family: Roboto,Arial,sans-serif;
    font-weight: 700;
    color: #fff;
    background-color: #FF806F;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    border-color: #FF806F;
    color: #fff;
    background-color: #FF806F;
}

.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    border-color: #FF806F;
    background-color: #FF806F;
}

.btn-primary .badge {
    color: #FF806F;
    background-color: #fff;
}

.btn-xl {
    padding: 20px 40px;
    border-color: #FF806F;
    border-radius: 3px;
    text-transform: uppercase;
    font-family: Roboto,Arial,sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    background-color: #FF806F;
}

header {
    text-align: center;
    color: #fff;
    background-attachment: scroll;
    background-image: url(/img/wall/Good-Office-Wallpapers.png);
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header .intro-text {
    padding-top: 100px;
    padding-bottom: 50px;
}

header .intro-text .intro-lead-in {
    margin-bottom: 25px;
    font-family: Roboto,Arial,sans-serif;
    font-size: 22px;
    font-style: italic;
    line-height: 22px;
}

header .intro-text .intro-heading {
    margin-bottom: 25px;
    text-transform: uppercase;
    font-family: Roboto,Arial,sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
}

@media(min-width:768px) {
    header .intro-text {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    
    header .intro-text .intro-lead-in {
        margin-bottom: 25px;
        font-family: Roboto,Arial,sans-serif;
        font-size: 40px;
        font-style: italic;
        line-height: 40px;
    }
    
    header .intro-text .intro-heading {
        margin-bottom: 50px;
        text-transform: uppercase;
        font-family: Roboto,Arial,sans-serif;
        font-size: 75px;
        font-weight: 700;
        line-height: 75px;
    }
}

section {
    padding: 100px 50px 8%;
}

section h2.section-heading {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 40px;
}

section h3.section-subheading {
    margin-bottom: 75px;
    text-transform: none;
    font-family: Roboto,Arial,sans-serif;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
}

@media(min-width:768px) {
    section {
        padding: 100px 0;
    }
}

.service-heading {
    margin: 15px 0;
    text-transform: none;
}

.team-member {
    text-align: center;
}

.team-member img {
    margin: 0 auto;
    border: 7px solid #fff;
    border-radius: 50%;
    max-width: 90%;
    max-height: 50vh;
}

.team-member h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none;
}

.team-member p {
    margin-top: 0;
}

aside.clients img {
    margin: 50px auto;
}


footer {
    padding: 25px 0;
    text-align: center;
}

footer ul.quicklinks {
    margin-bottom: 0;
    text-transform: uppercase;
    text-transform: none;
    font-family: Roboto,Arial,sans-serif;
    line-height: 40px;
}

ul.social-buttons {
    margin-bottom: 0;
}

ul.social-buttons li a {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    outline: 0;
    color: #fff;
    background-color: #222;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

