@import './variables.scss';

@font-face {
  font-family: $font-text;
  src: url("/cv-react/fonts/Roboto-Regular.ttf"), url("/cv-react/fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: $font-text-bold;
  src: url("/cv-react/fonts/Roboto-Bold.ttf"), url("/fonts/Roboto-Bold.ttf") ;
}

@font-face {
  font-family: $font-title;
  src: url("/cv-react/fonts/BebasNeue-Regular.ttf"), url("/fonts/BebasNeue-Regular.ttf");
}

@font-face {
  font-family: $font-text-medium;
  src: url("/cv-react/fonts/Roboto-Medium.ttf"), url("/fonts/Roboto-Medium.ttf");
}

/* force background colors in print */
* {
  font-family:  $font-text, Roboto, sans-serif;
  -webkit-print-color-adjust: exact !important;   /* Chrome, Safari 6 – 15.3, Edge */
  print-color-adjust: exact !important;
  
  body {
    overflow-x: hidden;
    font-family: $font-text, Roboto, sans-serif;
    margin: 0;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.row { 
  display: flex;
  flex-direction: row; 
  flex-wrap: wrap;
  
  &.center {
    justify-content: center;
  }
  
  &.reverse {
    flex-direction: row-reverse;
  }
}

.column { 
  display: flex;
  flex-direction: column;
  &.center {
    align-items: center;
  }
}

.hidden-small {
  display: inherit;
}

.hidden-large {
  display: none;
}

@media screen and (max-width: $screen-medium) {
  .hidden-small {
    display: none;
  }
  
  .hidden-large {
    display: inherit;
  }
  
}
@media print {
  .hidden-small {
    display: none;
  }
  
  .hidden-large {
    display: inherit;
  }
}