@import './variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Glitch&display=swap');

/* force background colors in print */
* {
  font-family: 'Roboto', sans-serif;
  -webkit-print-color-adjust: exact !important;   /* Chrome, Safari 6 – 15.3, Edge */
  print-color-adjust: exact !important;
  
  body {
    overflow-x: hidden;
    margin: 0;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.row { 
  display: flex;
  flex-direction: row; 
  flex-wrap: wrap;
  
  &.center {
    justify-content: center;
  }
  
  &.reverse {
    flex-direction: row-reverse;
  }
}

.column { 
  display: flex;
  flex-direction: column;
  &.center {
    align-items: center;
  }
}

.hidden-small {
  display: inherit;
}

.hidden-large {
  display: none;
}

@media screen and (max-width: $screen-medium) {
  .hidden-small {
    display: none;
  }
  
  .hidden-large {
    display: inherit;
  }
  
}
@media print {
  .hidden-small {
    display: none;
  }
  
  .hidden-large {
    display: inherit;
  }
}