@import './variables.scss';

@font-face {
  font-family: $font-text;
  src: url("/fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: $font-text-bold;
  src: url("/fonts/Roboto-Bold.ttf") ;
}

@font-face {
  font-family: $font-title;
  src: url("/fonts/BebasNeue-Regular.ttf");
}

@font-face {
  font-family: $font-text-medium;
  src: url("/fonts/Roboto-Medium.ttf");
}

body {
    overflow-x: hidden;
    font-family: $font-text, Roboto, sans-serif;
    margin: 0;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
 
/* force background colors in print */
* {
    -webkit-print-color-adjust: exact !important;   /* Chrome, Safari 6 – 15.3, Edge */
    print-color-adjust: exact !important;
}
