$color-blue: #2C3E50;
$color-blue-light: #3498DB;
$color-purple: #B08EDB;
$color-dark-purple: #7a689e;
$color-dark-gray: #474747;
$color-gray: #7D7D7D;
$color-white: #FFF9F5;
$color-black: #454c55;
$color-red: #f61c0d;

$color-iron: #686868;
$color-bronze: #796221;
$color-silver: silver;
$color-gold: goldenrod;
$color-platinium: #852ada;
$color-diamond: #ffffff;

$primary-color: #3498DB; /*titre*/
$sub-primary-color: #474747; /*sous-titre*/
$secondary-color: #FF806F; /*tag*/
$secondary-color-darker: #cc6658;
$secondary-color-darkest: #994c42;

$legend : #ce3824;
$highlight: #f38229 ;

$background-color : #fff;
$background-color-light : rgba(0, 0, 0, 0.05);
$background-color-header : #2C3E50;

$text-primary : rgb(0, 35, 74);
$text-secondary : rgb(0, 35, 74);
$text-company : rgb(0 147 254);
$text-subtitle: $legend;

$main-padding : 11px;
$sidebar-width : 300px;
$gap: 12px;

$screen-medium: 768px;

$font-title: 'Bebas Neue';
$font-text: 'EB Garamond';
