$dark-blue : 03111a;
$blue : #0e476a;
$legend : #f96249;
$bg : #e7e9eb;
$gray-light : #f2f2f2;
$yellow: #f2bb13;
/*
Dark mode
*/
$lighter-background : rgba(40,40,40);
$background : $bg;
$text-primary : #454c55;
$text-secondary : #454c55;
$text-subtitle: $legend;

/*
Light mode
*/
$light-lighter-background : $bg;
$light-background : $bg;
$light-text-primary: #282828;
$light-text-secondary: $blue;
$light-text-subtitle: $legend;

/** **/
$main-padding : 12px;
$sidebar-width : 300px;
$gap: 0.3em;

$screen-small: 500px;
$screen-medium: 768px;