$dark-blue : 03111a;
$blue : #0e476a;
$peach : #FF806F;
$orange : #FF943D;
/*
Dark mode
*/
// $lighter-background : #03111a;
// $background : #051e2d;
// $text-primary : rgb(255,255,255,0.87);
// $text-secondary : $peach;
// $text-subtitle: #ffc3a2;
$lighter-background : rgba(40,40,40);
$background : rgb(60, 60, 60, 1);
$text-primary : rgb(232, 234, 237);
$text-secondary : rgb(138, 180, 248);
$text-subtitle: rgb(138, 180, 248, 0.7);

/*
Light mode
*/
$light-lighter-background : $blue;
$light-background : white;
$light-text-primary: #282828;
$light-text-secondary: $blue;
$light-text-subtitle: $peach;

/** **/
$main-padding : 1em;
$sidebar-width : 300px;
$gap: 0.3em;

$screen-small: 500px;
$screen-medium: 768px;